In [1]:
import nltk

In [2]:
from nltk.corpus import stopwords

In [3]:
rawData=open(r"C:\Users\msid4\OneDrive\Desktop\nlp\spam.tsv").read()

In [4]:
parsedData=rawData.replace('\t','\n').split('\n')

In [5]:
labelList=parsedData[0::2]
textList=parsedData[1::2]

In [6]:
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [7]:
import pandas as pd

In [8]:
fullcorpus=pd.DataFrame({'label':labelList[:-1],'body_list':textList})
fullcorpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [9]:
len(labelList)

5571

In [10]:
len(textList)

5570

In [11]:
dataset=pd.read_csv(r"C:\Users\msid4\OneDrive\Desktop\nlp\spam.tsv",sep="\t",header=None)
dataset.columns=['label','body_text']
dataset.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [12]:
print('input data has {} rows and {} columns'.format(len(dataset),len(dataset.columns)))

input data has 5568 rows and 2 columns

In [13]:
print('out of {} rows,{} are spam and {} are ham '.format(len(dataset),len(dataset[dataset['label']=='spam']
                                                            ),len(dataset[dataset['label']=='ham'])))

out of 5568 rows,746 are spam and 4822 are ham

In [14]:
print("Number of null in label:{}".format(dataset.label.isnull().sum()))

Number of null in label:0

In [15]:
dataset.isnull().sum()

label        0
body_text    0
dtype: int64

In [16]:
import re

In [17]:
import re
re_test='This is made up string to test 2 different regex methods'
re_test_messy='This is made up    string to test 2    different regex methods'
re_test_messy1='This-is-made-up/up.string*to>>>>test---2""""different-regex-methods'

In [18]:
re.split('\s',re_test)

['This',
 'is',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [19]:
re.split('\s+',re_test_messy)

['This',
 'is',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [20]:
re.findall('\W+',re_test_messy1)

['-', '-', '-', '/', '.', '*', '>>>>', '---', '""""', '-', '-']

In [21]:
pep8='I try to follow PEP8 guidelines'
re.findall('[a-z]+',pep8)

['try', 'to', 'follow', 'guidelines']

In [22]:
pd.set_option('display.max_colwidth',100)
dataset.head()

,label,body_text
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
2,ham,"Nah I don't think he goes to usf, he lives around here though"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!

In [23]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [24]:
def remove_punct(text):
    text_punct="".join([char for char in text if char not in string.punctuation])
    return text_punct
dataset['new_body_text']=dataset['body_text'].apply(lambda x: remove_punct(x))
dataset.head()

,label,body_text,new_body_text
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL

In [25]:
import re
def tokenize(text):
    tokens=re.split('\W+',text)
    return tokens
dataset['body_text_tokenised']=dataset['new_body_text'].apply(lambda x: tokenize(x))
dataset.head()

,label,body_text,new_body_text,body_text_tokenised
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...,"[Ive, been, searching, for, the, right, words, to, thank, you, for, this, breather, I, promise, ..."
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...,"[Free, entry, in, 2, a, wkly, comp, to, win, FA, Cup, final, tkts, 21st, May, 2005, Text, FA, to..."
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though,"[Nah, I, dont, think, he, goes, to, usf, he, lives, around, here, though]"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent,"[Even, my, brother, is, not, like, to, speak, with, me, They, treat, me, like, aids, patent]"
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]"

In [26]:
stopword=stopwords.words('english')

In [27]:
def remove_stopwords(tokenized_list):
    text=[word for word in tokenized_list if word not in stopword]
    return text
dataset['body_text_nostop']=dataset['body_text_tokenised'].apply(lambda x: remove_stopwords(x))
dataset.head()

,label,body_text,new_body_text,body_text_tokenised,body_text_nostop
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...,"[Ive, been, searching, for, the, right, words, to, thank, you, for, this, breather, I, promise, ...","[Ive, searching, right, words, thank, breather, I, promise, wont, take, help, granted, fulfil, p..."
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...,"[Free, entry, in, 2, a, wkly, comp, to, win, FA, Cup, final, tkts, 21st, May, 2005, Text, FA, to...","[Free, entry, 2, wkly, comp, win, FA, Cup, final, tkts, 21st, May, 2005, Text, FA, 87121, receiv..."
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though,"[Nah, I, dont, think, he, goes, to, usf, he, lives, around, here, though]","[Nah, I, dont, think, goes, usf, lives, around, though]"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent,"[Even, my, brother, is, not, like, to, speak, with, me, They, treat, me, like, aids, patent]","[Even, brother, like, speak, They, treat, like, aids, patent]"
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]","[I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]"

In [31]:
import nltk
ps=nltk.PorterStemmer()
def clean_text(text):
    text="".join([word.lower() for word in text if word not in string.punctuation])
    tokens=re.split('\W',text)
    text=[ps.stem(word) for word in tokens if word not in stopword]
    return text
dataset['clean_text']=dataset['body_text'].apply(lambda x: clean_text(x))
dataset.head()

,label,body_text,new_body_text,body_text_tokenised,body_text_nostop,clean_text
0,ham,I've been searching for the right words to thank you for this breather. I promise i wont take yo...,Ive been searching for the right words to thank you for this breather I promise i wont take your...,"[Ive, been, searching, for, the, right, words, to, thank, you, for, this, breather, I, promise, ...","[Ive, searching, right, words, thank, breather, I, promise, wont, take, help, granted, fulfil, p...","[ive, search, right, word, thank, breather, promis, wont, take, help, grant, fulfil, promis, won..."
1,spam,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...,Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...,"[Free, entry, in, 2, a, wkly, comp, to, win, FA, Cup, final, tkts, 21st, May, 2005, Text, FA, to...","[Free, entry, 2, wkly, comp, win, FA, Cup, final, tkts, 21st, May, 2005, Text, FA, 87121, receiv...","[free, entri, 2, wkli, comp, win, fa, cup, final, tkt, 21st, may, 2005, text, fa, 87121, receiv,..."
2,ham,"Nah I don't think he goes to usf, he lives around here though",Nah I dont think he goes to usf he lives around here though,"[Nah, I, dont, think, he, goes, to, usf, he, lives, around, here, though]","[Nah, I, dont, think, goes, usf, lives, around, though]","[nah, dont, think, goe, usf, live, around, though]"
3,ham,Even my brother is not like to speak with me. They treat me like aids patent.,Even my brother is not like to speak with me They treat me like aids patent,"[Even, my, brother, is, not, like, to, speak, with, me, They, treat, me, like, aids, patent]","[Even, brother, like, speak, They, treat, like, aids, patent]","[even, brother, like, speak, treat, like, aid, patent]"
4,ham,I HAVE A DATE ON SUNDAY WITH WILL!!,I HAVE A DATE ON SUNDAY WITH WILL,"[I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]","[I, HAVE, A, DATE, ON, SUNDAY, WITH, WILL]","[date, sunday]"

In [39]:
dataset['clean_text']=dataset.clean_text.astype(str)

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
Xcounts=vectorizer.fit_transform(dataset['clean_text'])

#advantage of Tfidf over countvectorizer

In [46]:

from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(Xcounts,dataset['label'],test_size=0.2)

In [47]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import KFold,cross_val_score
rf=RandomForestClassifier(n_estimators=50,max_depth=20,n_jobs=-1)
rf_model=rf.fit(X_train,Y_train)

In [54]:
k_folds=KFold(n_splits=5)
l=cross_val_score(rf,Xcounts,dataset['label'],cv=k_folds,scoring='accuracy',n_jobs=-1)
l

array([0.94075404, 0.93177738, 0.94614004, 0.92812219, 0.94249775])

In [52]:
l.mean()

0.936599450592879

In [58]:
from sklearn.metrics import precision_recall_fscore_support as score
y_pred=rf_model.predict(X_test)
precision,recall,fscore,support=score(Y_test,y_pred,pos_label='spam',average='binary')
#average=binary because target variable is binary.
print('precision:{}%'.format(precision*100))

precision:100.0%

In [56]:
print('precision: {}/Recall: {}/Accuracy: {}'.format(
                                                     round(precision,3),
                                                     round(recall,3),
                                                     round((y_pred==Y_test).sum()/len(y_pred),3)
                                                    ))

precision: 1.0/Recall: 0.558/Accuracy: 0.938